
/* ////////////////////////////////////// */
* , *:after , *:before {
  margin: 0;
  padding: 0;
}

body {
  font-family: lucida sans ;
}

.container {
  width: 85%;
  margin: auto;
}

.margin-bottom {
  margin-bottom: 20px
}

.container {
  width: 85%;
  margin: auto;
}
